@import './variables.css';

html {
  box-sizing: border-box;
  font-size: var(--font-16);
  line-height: var(--font-28);
  text-size-adjust: 100%;
}

body {
  background: var(--color-gray1);
  color: var(--color-gray10);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p,a,img{
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-gray10);
    /* border-bottom: 0.5px dotted var(--color-gray7); */
}

a:active,
a:hover {
  text-decoration: none;
  border-bottom: 0.5px dotted var(--color-gray7);
}

a:focus {
  outline: 0;
}

ul {
  margin-left: 0;
}

.fullWidth {
  max-width: 70rem;
  width: 100%;
  margin: auto;
}

.universalPadding {
  padding-left: var(--space-20) !important;
  padding-right: var(--space-20) !important;
}

.flexWrapper{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  margin: 0;
}

@media (min-width: 40rem) {
  .flexWrapper{
    margin: var(--space-40) var(--space-m-40) var(--space-40)
  }
}