@import './colors.css';
@import './utilities.css';

html {
  box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-size-adjust: 100%;
}

body {
  background: var(--color-gray1);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: var(--color-gray10);
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:hover {
  color: var(--color-gray6);
  text-decoration: none;
}

a:focus {
  outline: 0;
}