@import './variables.css';
@import './utilities.css';

html {
  box-sizing: border-box;
  font-size: var(--font-18);
  line-height: var(--font-28);
  text-size-adjust: 100%;
}

body {
  background: var(--color-gray1);
  color: var(--color-gray10);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: var(--color-gray10);
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:hover {
  color: var(--color-gray7);
  text-decoration: none;
}

a:focus {
  outline: 0;
}

ul {
  margin-left: 0;
}