@import './variables.css';

html {
  box-sizing: border-box;
  font-size: var(--font-18);
  line-height: var(--font-28);
  text-size-adjust: 100%;
}

body {
  background: var(--color-gray1);
  color: var(--color-gray10);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p,a,img{
  margin: 0;
}

a {
  color: var(--color-gray10);
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:hover {
  color: var(--color-gray7);
  text-decoration: none;
}

a:focus {
  outline: 0;
}

ul {
  margin-left: 0;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

.fullWidth {
  width: 90%;
  margin: auto;
}

@media (min-width: 48rem) {
  .fullWidth {
    width: 80%;
  }
}

@media (min-width: 64rem) {
  .fullWidth {
    width: 75%;
  }
}

@media (min-width: 90rem) {
  .fullWidth {
    width: 65%;
  }
}