/* About Page */

.emailContact{
  padding: var(--space-5) 0;
  margin:  var(--space-10) 0;
  border: none;
  display: block;
}

@media (min-width: 48rem) {
  .emailContact{
    display: inline-block;
    padding: 0 25px;
    margin: 0 25px;
    border-left: 1px solid var(--color-brand);
    border-right: 1px solid var(--color-brand);
  }
}