.flexbox{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.fullWidth {
  width: 90%;
  margin: auto;
}

@media (min-width: 48rem) {
  .fullWidth {
    width: 80%;
  }
}

@media (min-width: 64rem) {
  .fullWidth {
    width: 75%;
  }
}

@media (min-width: 90rem) {
  .fullWidth {
    width: 60%;
  }
}