.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
}

.layoutContainer {
  width: 90%;
  margin: auto;
}

@media (min-width: 40rem) {
  .layoutContainer {
    width: 85%;
  }
}

@media (min-width: 56rem) {
  .layoutContainer {
    width: 80%;
  }
}