.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
}


.resizeContainer {
  width: 90%;
  margin: auto;
}

@media (min-width: 48rem) {
  .resizeContainer {
    width: 80%;
  }
}

@media (min-width: 64rem) {
  .resizeContainer {
    width: 75%;
  }
}

@media (min-width: 90rem) {
  .resizeContainer {
    width: 70%;
  }
}