{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "graphql": false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": {
      "jsx": true
    }
  }
}
