.Bio {
  margin: var(--space-25) auto;
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  height: auto;
}

@media (min-width: 48rem) {
  .Bio {
    margin: var(--space-30) auto;
    width: 70%;
  }
}

@media (min-width: 64rem) {
  .Bio {
    margin: var(--space-50) auto;
    width: 65%;
  }
}

@media (min-width: 90rem) {
  .Bio {
    margin: var(--space-75) auto;
    width: 60%;
  }
}

.PageTitle{
  composes: PageTitle from "../PageTitle/PageTitle.module.css";
}

.vertcialLine{
  height: var(--space-30);
  position: relative;
  margin: var(--space-25);
}

.vertcialLine::after{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid black;  
}