.Bio {
  margin: var(--space-25) auto 0;
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  height: auto;
}

@media (min-width: 64rem) {
  .Bio {
    margin: var(--space-80) auto 0;
    width: 65%;
  }
}

.PageTitle{
  composes: PageTitle from "../PageTitle/PageTitle.module.css";
}

.vertcialLine{
  height: var(--space-40);
  position: relative;
  margin: var(--space-20);
}

.vertcialLine::after{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid var(--color-gray7);  
}