.Bio {
  margin: var(--space-25) auto 0;
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  height: auto;
}

@media (min-width: 64rem) {
  .Bio {
    margin: var(--space-80) auto 0;
    width: 65%;
  }
}

.PageTitle{
  composes: PageTitle from "../PageTitle/PageTitle.module.css";
  animation: fadeIn 1s;
}

.vertcialLine{
  height: var(--space-40);
  position: relative;
  margin: var(--space-20);
}

.vertcialLine::after{
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: 50%;
  border-left: 1px solid var(--color-gray7);  
  animation: expand 1.5s;
}

.description{
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes expand{
  0%{height:0px}
  100%{height:100%}
}