.pageHeaderDate {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.pagePagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: var(--space-15);
}

.pageHr {
  margin: var(--space-25) 0; 
  background: var(--color-gray3)
}