.pageHeaderDate {
  display: block;
  margin-bottom: var(--space-15);
  text-align: center;
}

.pagePagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: var(--space-15);
}

.pageHr {
  margin: var(--space-25) 0; 
  background: var(--color-gray3)
}

/* Markdown Data */
.markdownBody {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-gray10);
  word-wrap: break-word;
}

.markdownBody .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.markdownBody a {
  background-color: transparent;
}

.markdownBody a:active,
.markdownBody a:hover {
  outline-width: 0;
}

.markdownBody strong {
  font-weight: inherit;
}

.markdownBody strong {
  font-weight: bolder;
}

.markdownBody h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdownBody img {
  border-style: none;
}

.markdownBody code,
.markdownBody kbd,
.markdownBody pre {
  font-size: 1em;
}

.markdownBody hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.markdownBody input {
  font: inherit;
  margin: 0;
}

.markdownBody input {
  overflow: visible;
}

.markdownBody [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdownBody * {
  box-sizing: border-box;
}

.markdownBody input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdownBody a {
  color: var(--color-brandDark);
  text-decoration: none;
}

.markdownBody a:hover {
  text-decoration: underline;
}

.markdownBody strong {
  font-weight: 600;
}

.markdownBody hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-gray5);
}

.markdownBody hr::before {
  display: table;
  content: "";
}

.markdownBody hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdownBody table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdownBody td,
.markdownBody th {
  padding: 0;
}

.markdownBody h1,
.markdownBody h2,
.markdownBody h3,
.markdownBody h4,
.markdownBody h5,
.markdownBody h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdownBody h1 {
  font-size: 32px;
}

.markdownBody h2 {
  font-size: 24px;
}

.markdownBody h3 {
  font-size: 20px;
}

.markdownBody h4 {
  font-size: 16px;
}

.markdownBody h5 {
  font-size: 14px;
}

.markdownBody h6 {
  font-size: 12px;
}

.markdownBody p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdownBody blockquote {
  margin: 0;
}

.markdownBody ul,
.markdownBody ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdownBody ol ol,
.markdownBody ul ol {
  list-style-type: lower-roman;
}

.markdownBody ul ul ol,
.markdownBody ul ol ol,
.markdownBody ol ul ol,
.markdownBody ol ol ol {
  list-style-type: lower-alpha;
}

.markdownBody dd {
  margin-left: 0;
}

.markdownBody code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.markdownBody pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.markdownBody .octicon {
  vertical-align: text-bottom;
}

.markdownBody .pl-0 {
  padding-left: 0 !important;
}

.markdownBody .pl-1 {
  padding-left: 4px !important;
}

.markdownBody .pl-2 {
  padding-left: 8px !important;
}

.markdownBody .pl-3 {
  padding-left: 16px !important;
}

.markdownBody .pl-4 {
  padding-left: 24px !important;
}

.markdownBody .pl-5 {
  padding-left: 32px !important;
}

.markdownBody .pl-6 {
  padding-left: 40px !important;
}

.markdownBody::before {
  display: table;
  content: "";
}

.markdownBody::after {
  display: table;
  clear: both;
  content: "";
}

.markdownBody>*:first-child {
  margin-top: 0 !important;
}

.markdownBody>*:last-child {
  margin-bottom: 0 !important;
}

.markdownBody a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdownBody .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdownBody .anchor:focus {
  outline: none;
}

.markdownBody p,
.markdownBody blockquote,
.markdownBody ul,
.markdownBody ol,
.markdownBody dl,
.markdownBody table,
.markdownBody pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdownBody hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdownBody blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdownBody blockquote>:first-child {
  margin-top: 0;
}

.markdownBody blockquote>:last-child {
  margin-bottom: 0;
}

.markdownBody kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdownBody h1,
.markdownBody h2,
.markdownBody h3,
.markdownBody h4,
.markdownBody h5,
.markdownBody h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}

.markdownBody h1 .octicon-link,
.markdownBody h2 .octicon-link,
.markdownBody h3 .octicon-link,
.markdownBody h4 .octicon-link,
.markdownBody h5 .octicon-link,
.markdownBody h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdownBody h1:hover .anchor,
.markdownBody h2:hover .anchor,
.markdownBody h3:hover .anchor,
.markdownBody h4:hover .anchor,
.markdownBody h5:hover .anchor,
.markdownBody h6:hover .anchor {
  text-decoration: none;
}

.markdownBody h1:hover .anchor .octicon-link,
.markdownBody h2:hover .anchor .octicon-link,
.markdownBody h3:hover .anchor .octicon-link,
.markdownBody h4:hover .anchor .octicon-link,
.markdownBody h5:hover .anchor .octicon-link,
.markdownBody h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdownBody h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid var(--color-gray5);;
}

.markdownBody h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--color-gray5);;
}

.markdownBody h3 {
  font-size: 1.25em;
}

.markdownBody h4 {
  font-size: 1em;
}

.markdownBody h5 {
  font-size: 0.875em;
}

.markdownBody h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdownBody ul,
.markdownBody ol {
  padding-left: 2em;
}

.markdownBody ul ul,
.markdownBody ul ol,
.markdownBody ol ol,
.markdownBody ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdownBody li {
  word-wrap: break-all;
  list-style: circle;
}

.markdownBody li>p {
  margin-top: 16px;
}

.markdownBody li+li {
  margin-top: 0.25em;
}

.markdownBody dl {
  padding: 0;
}

.markdownBody dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdownBody dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdownBody table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdownBody table th {
  font-weight: 600;
}

.markdownBody table th,
.markdownBody table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdownBody table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdownBody table tr:nth-child(2n) {
  background-color: var(--color-gray3);
}

.markdownBody img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdownBody img[align=right] {
  padding-left: 20px;
}

.markdownBody img[align=left] {
  padding-right: 20px;
}

.markdownBody code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.markdownBody pre {
  word-wrap: normal;
}

.markdownBody pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdownBody .highlight {
  margin-bottom: 16px;
}

.markdownBody .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdownBody .highlight pre,
.markdownBody pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-gray3);
  border-radius: 3px;
}

.markdownBody pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdownBody .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.markdownBody kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.markdownBody :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdownBody .task-list-item {
  list-style-type: none;
}

.markdownBody .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdownBody .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.markdownBody hr {
  border-bottom-color: #eee;
}


.markdownBody .pl-c {
  color: #6a737d;
}

.markdownBody .pl-c1,
.markdownBody .pl-s .pl-v {
  color: #005cc5;
}

.markdownBody .pl-e,
.markdownBody .pl-en {
  color: #6f42c1;
}

.markdownBody .pl-smi,
.markdownBody .pl-s .pl-s1 {
  color: #24292e;
}

.markdownBody .pl-ent {
  color: #22863a;
}

.markdownBody .pl-k {
  color: #d73a49;
}

.markdownBody .pl-s,
.markdownBody .pl-pds,
.markdownBody .pl-s .pl-pse .pl-s1,
.markdownBody .pl-sr,
.markdownBody .pl-sr .pl-cce,
.markdownBody .pl-sr .pl-sre,
.markdownBody .pl-sr .pl-sra {
  color: #032f62;
}

.markdownBody .pl-v,
.markdownBody .pl-smw {
  color: #e36209;
}

.markdownBody .pl-bu {
  color: #b31d28;
}

.markdownBody .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.markdownBody .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.markdownBody .pl-c2::before {
  content: "^M";
}

.markdownBody .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.markdownBody .pl-ml {
  color: #735c0f;
}

.markdownBody .pl-mh,
.markdownBody .pl-mh .pl-en,
.markdownBody .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.markdownBody .pl-mi {
  font-style: italic;
  color: #24292e;
}

.markdownBody .pl-mb {
  font-weight: bold;
  color: #24292e;
}

.markdownBody .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.markdownBody .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.markdownBody .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.markdownBody .pl-mi2 {
  color: var(--color-gray3);
  background-color: #005cc5;
}

.markdownBody .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.markdownBody .pl-ba {
  color: #586069;
}

.markdownBody .pl-sg {
  color: #959da5;
}

.markdownBody .pl-corl {
  text-decoration: underline;
  color: #032f62;
}