@import './variables.css';

html {
  text-size-adjust: 100%;
}

body {
  background: var(--color-gray1);
  color: var(--color-gray10);
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-size: var(--font-16);
  line-height: var(--font-28);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
  font-display: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 0.25px;
}

*,
::after,
::before {
  box-sizing: inherit;
  box-sizing: border-box;
}

a {
  display: inline;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-gray10);
  border-bottom: 0.5px dotted var(--color-gray7);
}

a:active,
a:hover {
  text-decoration: none;
  border-bottom: 0.5px solid var(--color-gray7);
}

a:focus {
  outline: 0;
}