.fullWidth {
  max-width: 70rem;
  width: 100%;
  margin: auto;
}

.universalPadding {
  padding-left: var(--space-20) !important;
  padding-right: var(--space-20) !important;
}

.flexWrapper{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  margin: 0;
}

@media (min-width: 40rem) {
  .flexWrapper{
    margin: var(--space-40) var(--space-m-40) var(--space-40)
  }
}