.aboutContent {
  margin: var(--space-25) 0 var(--space-25);
}

.aboutContent > h3{
  margin: var(--space-20) 0; 
}

.aboutContent > p {
  text-align: justify;
  word-break: break-all;
  margin-bottom: var(--space-20); 
}

.aboutContent > p > a {
  margin: 0 6px;
}

.sectionTitle {
  font-size: var(--font-24);
  color: var(--color-gray9);
  padding: var(--space-25) 0;
  border-bottom: 0.5px solid var(--color-gray3);
}

.aboutContact {
  display: block;
  padding: 0;
}

.aboutContact li {
  list-style-type: none;
}

@media (min-width: 48rem) {
  .aboutContent {
    margin: var(--space-50) 0;
  }

  .aboutContact {
    display: inline-flex;
  }

  .aboutContact li:nth-child(2){
    display: inline;
    margin: 0 40px;
    position: relative;
  }
  .aboutContact li:nth-child(2)::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 30px;
    left: -20px;
    background-color:var(--color-gray5);
  }
  .aboutContact li:nth-child(2)::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 30px;
    right: -20px;
    background-color:var(--color-gray5);
  }
}
