.NotesWrapper {
  composes: flexWrapper from "../reusable.css";
}

.NotesWrapper a {
  margin: var(--space-25) var(--space-15) 0;
  
}

.NotesWrapper a:last-child {
  margin-bottom: var(--space-25);
}
@media (min-width: 40rem) {
  .NotesWrapper a{
    margin: var(--space-40);
  }
  .NotesWrapper a:last-child {
    margin-bottom: inherit;
  }
}