.PageTitle {
  font-size: var(--font-20);
  line-height: var(--font-32);
  word-spacing: 5px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

@media (min-width: 64rem) {
  .PageTitle {
    font-size: var(--font-24);
    line-height: var(--font-40);
    word-spacing: 7.5px;
    letter-spacing: 2.5px; 
    text-align: center;
    margin: 0;
  }
}

