.photosGrid {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: var(--space-15);
  margin: var(--space-40) auto;
}

.photosGridTitle {
  text-align: right;
  text-transform: uppercase;
  font-size: var(--font-32);
  line-height: var(--space-50);
  font-weight: 300;
  grid-column: 1 / 3;
  grid-row: 2;
  align-self: center;
  height: var(--space-75);
  margin: 0 0 var(--space-25) 0;
}

.photosGridPhoto {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%; 
  margin: 0;
  grid-gap: var(--space-10);
  padding: var(--space-10);
  composes: image from "../PhotoFrame/PhotoFrame.module.css";
}

.photosGridPhoto:nth-of-type(1) {
  grid-column: 6;
  grid-row: 1;
}
.photosGridPhoto:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}
.photosGridPhoto:nth-of-type(3) {
  grid-column: 3;
  grid-row: 1;
}
.photosGridPhoto:nth-of-type(4) {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}
.photosGridPhoto:nth-of-type(5) {
  grid-column: 6;
  grid-row: 1;
}
.photosGridPhoto:nth-of-type(6) {
  grid-column: 7;
  grid-row: 1;
}
.photosGridPhoto:nth-of-type(7) {
  grid-column: 3;
  grid-row: 2;
}
.photosGridPhoto:nth-of-type(8) {
  grid-column: 3;
  grid-row: 2;
}
.photosGridPhoto:nth-of-type(8) {
  grid-column: 6 / 8;
  grid-row: 2 / 4;
}
.photosGridPhoto:nth-of-type(9) {
  grid-column: 8;
  grid-row: 2 / 4;
}
.photosGridPhoto:nth-of-type(10) {
  grid-column: 1;
  grid-row: 3;
}
.photosGridPhoto:nth-of-type(11) {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}
.photosGridPhoto:nth-of-type(12) {
  grid-column: 4;
  grid-row: 3;
}
.photosGridPhoto:nth-of-type(13) {
  grid-column: 5;
  grid-row: 3;
}
.photosGridPhoto:nth-of-type(14) {
  grid-column: 4;
  grid-row: 4;
}
.photosGridPhoto:nth-of-type(15) {
  grid-column: 5 / 7;
  grid-row: 4;
}

@media (max-width: 64rem) {
  .photosGrid {
    grid-gap: var(--space-10);
    margin: var(--space-30) auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .photosGridPhoto {
    padding:  var(--space-5);
    border-width: 3px;
  }
  .photosGridTitle {
    grid-column: 1 / 4;
    grid-row: 1;
    height: var(--space-50);
    line-height: var(--space-40);
    font-size: var(--font-24);
  }
  .photosGridPhoto:nth-of-type(1) {
    grid-column: 4;
    grid-row: 1;
  }
  .photosGridPhoto:nth-of-type(2) {
    grid-row: 2;
  }
  .photosGridPhoto:nth-of-type(3) {
    grid-row: 2;
  }
  .photosGridPhoto:nth-of-type(4) {
    grid-row: 2 / 4;
  }
  photosGridPhoto--1rKiy:nth-of-type(6) {
    grid-row: 1 / 3;
  }
  .photosGridPhoto:nth-of-type(7) {
    grid-row: 3;
  }
  .photosGridPhoto:nth-of-type(8) {
    grid-row: 3 / 5;
  }
  .photosGridPhoto:nth-of-type(9) {
    grid-column: 5;
    grid-row: 1;
  }
  .photosGridPhoto:nth-of-type(10) {
    grid-column: 3;
    grid-row: 4;
  }
  .photosGridPhoto:nth-of-type(11) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
  .photosGridPhoto:nth-of-type(12) {
    grid-row: 4;
  }
  .photosGridPhoto:nth-of-type(13) {
    grid-row: 4;
  }
  .photosGridPhoto:nth-of-type(14) {
    grid-column: 1;
    grid-row: 2;
  }
  .photosGridPhoto:nth-of-type(15) {
    grid-column: 6 / 8;
    grid-row: 2;
  }

}

@media (max-width: 480px) {
  .photosGrid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .photosGridPhoto {
    grid-column: auto !important;
    grid-row: auto !important;
  }
}
