
.WorkPostHeader {
  width: 100%;
  position: relative;
  padding-top: 40px;
  margin: var(--space-30) 0; 
  border-top: 1px solid var(--color-gray7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--color-gray7)), to(transparent));
  background-image: -webkit-linear-gradient(var(--color-gray7), transparent);
  background-image:
      -moz-linear-gradient(var(--color-gray7), transparent),
      -moz-linear-gradient(var(--color-gray7), transparent);
  background-image:
      -o-linear-gradient(var(--color-gray7), transparent),
      -o-linear-gradient(var(--color-gray7), transparent);
  background-image: 
      linear-gradient(var(--color-gray7), transparent),
      linear-gradient(var(--color-gray7), transparent);
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; 
  }

  .WorkPostHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: calc(100% - 2px);
    height: 40px;
    border-bottom: 1px solid var(--color-gray7);
    z-index: -1;
    background-clip: padding-box;
  }

  .WorkPostHeader:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 16px;
    left: 2rem;
    border-radius: 50%;
    background: var(--color-gray7);
    box-shadow: 0 0 0 0.2rem var(--color-gray7), 1.5rem 0 0 0 var(--color-gray7), 1.5rem 0 0 0.2rem var(--color-gray7), 3rem 0 0 0 var(--color-gray7), 3rem 0 0 0.2rem var(--color-gray7);
  }