.WorkPostTitleWrapper {
}

.WorkPostHeaderImage {
  height: 100px;
  width: 100%;
  margin: auto;
}

.WorkPostTitle,
.WorkPostSubTitle {
  text-align: center;
}

.WorkPostDescription {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.WorkPostDescription p{
  padding: 0;
  border-right: none;
}

@media (min-width: 30rem) {
  .WorkPostDescription p {
      padding: 0;
      border-right: 1px solid var(--color-gray7);
  }

  .WorkPostDescription p:last-child {
      border: none;
  }

  .WorkPostDescription p {
  }
  .WorkPostHeaderImage {
    width: 400px;
  }
}