.content {
  margin-top: var(--space-60);
  overflow: auto;
  min-height: calc(100vh - var(--space-120));
  composes: fullWidth from "../../utils/css/base.css";
  composes: universalPadding from "../../utils/css/base.css";
  overflow-x: hidden;
}