.BlogPostTitleWrapper {
    margin: var(--space-40) 0 var(--space-20) 0;
}

.BlogPostTitle,
.BlogPostSubTitle {
    text-align: center;
}

.BlogPostDescription {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--space-25);
}

.BlogPostDescription p {
    padding: 0;
    border-right: none;
}

@media (min-width: 30rem) {
    .BlogPostDescription p {
        padding: 0;
        border-right: 1px solid var(--color-gray7);
    }

    .BlogPostDescription p:last-child {
        border: none;
    }

    .BlogPostDescription p {
        padding: 0 15px;
    }
}