
.card {
  width: 100%;
  background: var(--color-white);
  margin: 1rem 0 0 0;
  transition: .3s ease;
  border: 1px solid var(--color-gray4);
  position: relative
}

@media (min-width: 40rem) {
  .card {
    width: calc( 50% - var(--space-50));
    margin: var(--space-25);
  }
}

@media (min-width: 56rem) {
  .card {
    width: calc( 33.3333% - var(--space-50));
    margin: var(--space-25);
  }
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  border: 1px solid var(--color-gray4);
  /* border-bottom: 1px solid var(--color-gray4);
  border-right: 1px solid var(--color-gray4); */
  box-shadow: 1px 1px 0px var(--color-gray4),
  2px 2px 0px var(--color-gray4),
  3px 3px 0px var(--color-gray4),
  4px 4px 0px var(--color-gray4),
  5px 5px 0px var(--color-gray4)
}
.card:hover .entryTitle {
  background-position: -100% 0;
}

.cardImage {
  height: 200px;
  background: var(--color-gray2);
}

.cardImage .image{
  min-width: 100%;
  height: 100%;
}

.cardContent {
  padding: 1.5rem;
}

.entryTitle {
  background-image: linear-gradient(180deg, transparent 65%, var(--color-brand) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  display: inline;
  transition: .4s;
  transition: background-size .5s ease;
}

.card:hover .entryTitle {
  color:  var(--color-black);
  background-size: 100% 100%;
}

span {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-top: 10px;
  color: var(--color-brandDark);
}
span a {
  color: var(--color-white);
}

.cardSource {
  position: absolute;
  right: 0;
  bottom: 0;
}