header{
  background: var(--color-white);
  border-bottom: 1px solid var(--color-gray3);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header { 
  padding: var(--space-15) 0;
  height: var(--space-60);
  composes: fullWidth from "../../utils/css/base.css";
}

.header p, .header ul {
  margin-bottom: 0;
}

.headerLogo { 
  text-decoration: none;
  border: 0.5px solid var(--color-gray10);
  padding: 0px 7px;
  color: var(--color-gray10);
  float: left;
  transition: .3s ease;
  height: var(--space-30);
  width: var(--space-30);
  display: none;
}

.headerLogo:hover { 
  color: var(--color-gray7);
  border: 0.5px solid var(--color-gray7);
  box-shadow: 1px 1px 0px var(--color-gray7), 2px 2px 0px var(--color-gray7);
}

.headerLinks { 
  width: 100%;
  text-align: center;
}

.headerLink { 
  display: inline;
  list-style: none;
  padding-left: var(--space-25);
}

.headerLink:first-child { 
  padding-left: 0;
}

@media (min-width: 40rem) {
  .headerLinks { 
    width: auto;
    float: right;
    text-align: right;
    margin-left: 5px;
  }
  .headerLink {
    padding-left: var(--space-50);
  }
  .headerLogo {
    display: block;
  }
}