.footer{
  height: var(--space-75);
  border-top: 1px solid var(--color-gray4);
  composes: fullWidth from "../../utils/css/base.css";
  composes: universalPadding from "../../utils/css/base.css";
}

.footer p, .footer ul {
  margin-bottom: 0;
  display: inline;
  float: left;
}

/* Link */

.footerLinks {
  float: right;
  padding: var(--space-25) 0 0 0 !important;
}

.footerLinks p::after {
  content: "---";
  padding: 0 var(--space-10);
}

.footerLinks li {
  display: inline;
  list-style: none;
  padding-right: var(--space-15);
}

.footerLinks li:last-child {
  padding-right: 0;
}
  
/* Brew */

.footerBrew {
  display: inline-block;
}

.footerBrew:before {
  content: 'Brewed in California';
  opacity:1;
  transition: all .8s;
}    

.footerBrew:hover:before,
.footerBrew:focus:before {
  content: '';
  opacity:0;
  transition: all .8s;
} 

.footerBrew:after {
  content: '';
  opacity:0;
  transition: all .8s;
}    

.footerBrew:hover:after,
.footerBrew:focus:after {
  content: 'While enjoying brewed Coffee, Beer and Kombucha';
  opacity:1;
  transition: all .8s;
} 

/* Copyright */

.footerCopyright {
  text-align: center;
}

/* Media Query */

.footerBrew,
.footerLinks {
  font-size: var(--font-12);
  padding: var(--space-15) 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 64rem) {
  .footerBrew,
  .footerLinks {
    width: auto;
    font-size: var(--font-16);
    padding: var(--space-25) 0;
  }
  .footerBrew{
    width: 45%;
    text-align: left;
    cursor: pointer;
  }
  .footer ul{
    float: right;
    text-align: right;
  }  
  .footerLinks li {
    padding-right: var(--space-15);
  }
}

@media (max-width: 20rem) {
  .footerLinks li {
    padding-right: var(--space-5);
  }
}