.footer{
  padding: 0.75rem 0;
  composes: fullWidth from "../../utils/css/utilities.css";
}

.footer p, .footer ul {
  margin-bottom: 0;
}

.footerLinks {
  float: right;
}


.footerLinks ul li {
  display: inline;
  list-style: none;
  padding: 10px;
}

.footerCopyright {
  float: left;
}