/* About Page */
.pageAbout > h3{
  margin: var(--space-20) 0; 
}

.pageAbout > p{
  text-align: justify;
  word-break: break-all;
  margin-bottom: var(--space-20); 
}

.emailContact {
  padding: var(--space-5) 0;
  margin:  var(--space-10) 0;
  border: none;
  display: block;
}

.sectionTitle{
  font-size: var(--font-28);
  color: var(--color-gray9);
  padding: var(--space-25) 0;
  border-bottom: 0.5px solid var(--color-gray3);
}

@media (min-width: 48rem) {
  .emailContact{
    display: inline-block;
    padding: 0 25px;
    margin: 0 25px;
    border-left: 1px solid var(--color-brand);
    border-right: 1px solid var(--color-brand);
  }
}
